@using RoshdefAPI.Admin.Services.Core
@inject IJsonViewLocalizer Localizer

@{
    ViewData["Title"] = @Localizer["RedirectPage.Title"];
}


<div class="text-center">
    <img src="~/plugins/images/anime.gif"/>
</div>
